*{
    box-sizing: border-box;
}
body{
    background-color: white(148, 216, 216);
    margin: 0px;
    padding: 0px;
}
.toolbox-cont{
    height: 5rem;
    background-color: rgb(161, 96, 223);
    display: flex;
    align-items: center;
}
.toolbox-cont>*{
    margin-left: 4rem;
    border-radius: 10px;
}
.toolbox-priority-cont{
    height: 3.5rem;
    width: 16rem;
    background-color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.action-btn-cont{
    height: 3.5rem;
    width: 8rem;
    background-color: grey;
    display: flex;
}
.action-btn-cont>*{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: white;
}
.add-btn:hover{
    background-color: lightpink;
}
.remove-btn:hover{
    background-color: lightpink;
}
.color{
    height: 1.3rem;
    width: 2.5rem;
    background-color: lightsalmon;
    border-radius: 5px;
}
.lightpink{
    background-color: lightpink;
}
.lightblue{
    background-color: lightblue;
}
.lightgreen{
    background-color: lightgreen;
}
.lightblack{
    background-color: black;
}
.modal-cont{
    height: 50vh;
    width: 45vw;
    background-color: lightskyblue;
    position: absolute;
    top:calc((100vh - 50vh)/2);
    left:calc((100vw - 45vw)/2);
    display: none;
}
.textarea-cont{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    background-color:paleturquoise;
    resize: none;
    padding: 2rem;
    font-size: 1.5rem;
    
}
.priority-colors-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(207, 236, 177);
}
.priority-color{
    height: 2.5rem;
    width: 60%;
    border-radius: 10px;
}
.border{
    border: 3px solid red;
}
.main-cont{
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
}
.ticket-cont{
    height: 14rem;
    width: 17rem;
    margin: 1rem;
    background-color: rgb(167, 231, 98);
}
.ticket-color{
    height: 2rem;
    /* background-color: rgb(160, 240, 196); */
}
.ticket-id{
    height: 2rem;
    background-color: rgb(187, 178, 243);
    padding: 0.5rem;
}
.task-area{
    height: calc(100% - 2rem - 2rem - 2rem);
    background-color: rgb(187, 157, 243);
    padding: .5rem;
}

.ticket-lock{
    height: 2rem;
    background-color: aqua;
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    padding-right:1rem ;
}